[Install]
WantedBy=default.target

[Unit]
Description=Randomize wallpaper with swww
After=swww-daemon.service
Requires=swww-daemon.service

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/random_wallpaper.sh

