[Unit]
Description=Run wallpaper changer every 45 minutes

[Timer]
OnBootSec=0
OnUnitActiveSec=45m
Unit=random-wallpaper.service

[Install]
WantedBy=default.target

