[Unit]
Description=Run wallpaper changer every 15 minutes

[Timer]
OnBootSec=15m
OnUnitActiveSec=15m
Unit=random-wallpaper.service

[Install]
WantedBy=default.target

