[Install]
WantedBy=default.target

[Unit]
Description=Randomize wallpaper with swww

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/random_wallpaper.sh

