spawn-at-startup "swaync"
spawn-at-startup "swayosd-server" "-s" "~/.config/swayosd/style.css"
spawn-at-startup "~/.config/waybar/scripts/launch.sh" "niri-bar"
spawn-at-startup "awww-daemon"
spawn-at-startup "vicinae" "server"
spawn-at-startup "grammalecte-server" 
spawn-at-startup "ghostty"
