spawn-at-startup "swaync"
spawn-at-startup "swayosd-server" "-s" "~/.config/swayosd/style.css"
spawn-at-startup "waybar" "-c" "/home/nino/.config/waybar/config-bar-niri.jsonc" "-s" "/home/nino/.config/waybar/style-bar-niri.css"
spawn-at-startup "awww-daemon"
spawn-at-startup "vicinae" "server"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-at-startup "ghostty"
spawn-at-startup "ghostty" "-e" "opencode"
spawn-at-startup "ghostty" "-e" "btop"
