layout {
    gaps 16

    focus-ring {
        off
    }

    border {
        on
        width 1
    }

    shadow {
        on
        softness 25
        spread 5
    }
}

blur {
    passes 3
    offset 3.5
    noise 0.01
    saturation 1.2
}
