output "DP-1" {
    position x=0 y=0
    focus-at-startup
}

output "DP-2" {
    position x=2560 y=0
}

output "eDP-1" {
    scale 1
    position x=0 y=0
}

output "HDMI-A-2" {
    scale 1
    position x=0 y=1920
    focus-at-startup
}

{{ if eq .chezmoi.hostname "nino-desktop-cachy" }}
workspace "w1" {
    open-on-output "DP-1"
}

workspace "w2" {
    open-on-output "DP-1"
}

workspace "w3" {
    open-on-output "DP-2"
}

workspace "w4" {
    open-on-output "DP-1"
}

workspace "w5" {
    open-on-output "DP-1"
}
{{ else }}
workspace "w1" {
    open-on-output "HDMI-A-2"
}

workspace "w2" {
    open-on-output "HDMI-A-2"
}

workspace "w3" {
    open-on-output "HDMI-A-2"
}

workspace "w4" {
    open-on-output "HDMI-A-2"
}

workspace "w5" {
    open-on-output "HDMI-A-2"
}
{{ end }}
