{{ if eq .chezmoi.os "darwin" }}
## System Context

Informations on the computer you're running on

- OS: Macos
- Desktop Environment: Macos/Aerospace
- Package Manager: brew
- Shell: fish
- Terminal Emulator: ghostty
- Editor: neovim (~/.config/nvim)
- Browser: zen-browser
- Dot Files: ~/.config

to get more detailed system informations run:

```bash
fastfetch
```

Other tools/software I use:

- Coding Agent Interface: OpencodeCLI <https://opencode.ai/docs/>
- Note Taking: Obsidian (at ~/.obsidian/Main)
- Terminal Multiplexer: Tmux
- Git Interface: Lazygit
- Grep replacement: ripgrep (used with `rg` command)
- Find replacement: fd (used with `fd` command)
- Dotfile Versionning/Management: chezmoi
- Application Launcher: walker <https://github.com/abenz1267/walker> with elephant data provider <https://github.com/abenz1267/elephant>

## Guidelines

### Behaviour

- Always load skills relevant to the request
- Be challenging, not agreeable, when I say something I want your opinion not your validation
- Focus on teaching and be pedagogic
- Try to stick to existing coding pattern in the project you're working on
- Avoid unecessary flavour text, go to the point
- If possible websearch/webfetch for a documentation

### Coding

#### General

- Don't make too much comment, write self explicatory code
- Keep the code simple and understandable

#### Typescript/Javascript

- Always prefer Typescript unless explicitly stated otherwise
- Avoid using the "any" type
- Prefer bun over node/npm/pnpm
- Switch node version using fnm

#### Python

- Prefer uv over pip

### Writing

- Avoid using emoji when writing, only had them if it's really pertinent
- Avoid giving commercial feel to READMEs and other user facing docs, keep it to the point and technical

## Other Ressources

### Useful Commands

- To search for available aur packages: paru -Ss

### Useful Paths

- Contains my custom scripts ~/.local/bin
- Contains my wallpapers ~/.local/share/wallappers
- Contains my colorschemes configuration ~/.config/colorschemes/
- Contains my custom launcher menu ~/.config/elephant/menus
- Contains my dev projects ~/.config/elephant/menus

### Links

- hyprland doc: <https://wiki.hypr.land/Configuring/>
- neovim doc: <https://neovim.io/doc/>
- fish shell doc: <https://fishshell.com/docs/current/index.html>
- bun doc: <https://bun.com/docs>
{{ else }}
## System Context

- OS: Archlinux
- Desktop Environment: Hyprland/Wayland
- Package Manager: paru
- Shell: fish
- Terminal Emulator: ghostty
- Editor: neovim (~/.config/nvim)
- Browser: zen-browser
- Dot Files: ~/.config

to get more detailed system informations run:

```bash
fastfetch
```

My tools/software:

- Coding Agent Interface: OpencodeCLI <https://opencode.ai/docs/>
- Note Taking: Obsidian (at ~/.obsidian/Main)
- Terminal Multiplexer: Tmux
- Git Interface: Lazygit
- Dotfile Versionning/Management: chezmoi
- Application Launcher: walker <https://github.com/abenz1267/walker> with elephant data provider <https://github.com/abenz1267/elephant>

## Guidelines

### Behaviour

- Always load skills relevant to the request
- Be challenging, not agreeable, when I say something I want your opinion not your validation
- Focus on teaching and be pedagogic
- Try to stick to existing coding pattern in the project you're working on
- Avoid unecessary flavour text, go to the point
- If possible websearch/webfetch for a documentation

### Coding

#### General

- Keep the code simple and understandable

#### Typescript/Javascript

- Always prefer Typescript unless explicitly stated otherwise
- Avoid using the "any" type
- Prefer bun over node/npm/pnpm
- Switch node version using fnm

#### Python

- Prefer uv over pip

### Writing

- Avoid using emoji when writing, only had them if it's really pertinent
- Avoid giving commercial feel to READMEs and other user facing docs, keep it to the point and technical

## Other Ressources

### Useful Paths

- Contains my custom scripts ~/.local/bin
- Contains my wallpapers ~/.local/share/wallappers
- Contains my colorschemes configuration ~/.config/colorschemes/
- Contains my custom launcher menu ~/.config/elephant/menus
- Contains my dev projects ~/.config/elephant/menus
{{ end }}
