/* ##################################
 * #  Custom Volume Module Styling  #
 * ################################## */
@include styleModule(
  // class name
  'cmodule-clock',
  // styling properties
  (
      'text-color': #7686c2,
      // 'icon-color': #242438,
      'icon-background': #7686c2,
      // 'label-background': #24273a,
      'inner-spacing': 0.5em,
      // 'border-enabled': true,
      // 'border-color': #24273a,
      'icon-size': 1.2em
    )
);

/* ##################################
 * #  Custom Volume Module Styling  #
 * ################################## */
@include styleModule(
  // class name
  'workspace',
  // styling properties
  (
      'text-color': #cba6f7,
      'icon-color': #242438,
      'icon-background': #cba6f7,
      'label-background': #242438,
      'inner-spacing': 0.5em,
      'border-enabled': false,
      'border-color': #cba6f7,
      'icon-size': 1.2em
    )
);
