/* ##################################
 * #  Custom Volume Module Styling  #
 * ################################## */
@include styleModule(
  // class name
  'cmodule-clock',
  // styling properties
  (
      'text-color': #b7bcf8,
      // 'icon-color': #242438,
      // 'icon-background': #b4befe,
      // 'label-background': #24273a,
      'inner-spacing': 0.5em,
      // 'border-enabled': true,
      // 'border-color': #24273a,
      'icon-size': 1.2em
    )
);
