/* ##################################
 * #  Custom Volume Module Styling  #
 * ################################## */
@include styleModule(
  // class name
  'cmodule-clock',
  // styling properties
  (
      'text-color': #b4befe,
      'icon-color': #b4befe,
      'icon-background': #b4befe,
      'label-background': #242438,
      'inner-spacing': 0.5em,
      'border-enabled': true,
      'border-color': #242438,
      'icon-size': 1.2em
    )
);
