# Set up oh-my-posh theme
{{ if eq .chezmoi.os "darwin" }}
# oh-my-posh init fish --config $HOME/.config/ohmyposh/themes/catppuccin_light.omp.json | source
{{ else }}
# oh-my-posh init fish --config $HOME/.config/ohmyposh/themes/catppuccin_macchiato.omp.json | source
{{ end }}

# Set up theme
fish_theme $HOME/.config/fish/themes/catppuccin.fish

# Set up fzf key bindings
fzf --fish | source

# Set up opencode
fish_add_path $HOME/.opencode/bin

# Set up zoxide
zoxide init fish | source

# Set up starship
starship init fish | source

if status is-interactive
    if not set -q TMUX
        clear
        {{ if eq .chezmoi.os "darwin" }}
        fastfetch --config $HOME/.config/fastfetch/config-macos.jsonc
        {{ else }}
        fastfetch
        {{ end }}
    end

    # Set up fnm
    fnm env --use-on-cd | source
end

#
# ENV VARIABLES
#

# Set fish vim mode
set -g fish_key_bindings fish_vi_key_bindings

# Set manpager to neovim
set -x MANPAGER "nvim +Man!"

# Set EDITOR to neovim
set -x EDITOR nvim

# Set up pnpm 
set -gx PNPM_HOME "$HOME/.local/share/pnpm"
if not string match -q -- "*$PNPM_HOME*" "$PATH"
    set -gx PATH "$PNPM_HOME" $PATH
end

# Set up fnm
set FNM_PATH "$HOME/.local/share/fnm"
if [ -d "$FNM_PATH" ]
    set PATH "$FNM_PATH" $PATH
    fnm env | source
end

# Remove vim mode indicator
function fish_mode_prompt
end

# Source fish config files from conf.d
for file in ~/.config/fish/conf.d/*.fish
    source $file
end
