# Theme
fish_theme $HOME/.config/fish/themes/catppuccin.fish

# Suppress vim mode indicator
function fish_mode_prompt
end

if status is-interactive
    if not set -q TMUX
        clear
        {{ if eq .chezmoi.os "darwin" }}
        fastfetch --config $HOME/.config/fastfetch/config-macos.jsonc
        {{ else }}
        fastfetch
        {{ end }}
    end
end
