@define-color bg0 {{colors.surface.default.hex}};
@define-color bg1 {{colors.surface_container_low.default.hex}};
@define-color bg2 {{colors.surface_container.default.hex}};
@define-color bg3 {{colors.surface_container_high.default.hex}};
@define-color bg4 {{colors.surface_container_highest.default.hex}};
@define-color fg {{colors.on_surface.default.hex}};
@define-color fg2 {{colors.on_surface_variant.default.hex}};
@define-color red {{colors.error.default.hex}};
@define-color orange {{colors.tertiary.default.hex}};
@define-color yellow {{colors.primary.default.hex}};
@define-color green {{colors.secondary.default.hex}};
@define-color aqua {{colors.secondary_container.default.hex}};
@define-color blue {{colors.primary.default.hex}};
@define-color purple {{colors.tertiary_container.default.hex}};
@define-color pink {{colors.tertiary.default.hex}};
@define-color lavender {{colors.primary_container.default.hex}};
@define-color grey0 {{colors.outline.default.hex}};
@define-color grey1 {{colors.outline_variant.default.hex}};
@define-color grey2 {{colors.surface_variant.default.hex}};
@define-color primary {{colors.primary.default.hex}};
