/* # By knightfall01 on Github as a part of https://github.com/Knightfall01/Hyprland-config */

* {
  font-family: 'JetBrainsMono Nerd Font';
  color: #c4d3da;
}

window {
  border: 0px solid #90cdfa;
  overflow: hidden;
  /* background: #1e2030; */
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 1em;
  padding: 1em;
  border: 1.5px solid rgba(196, 211, 218, 0.2);
  font-weight: bold;
  background: transparent;
  color: #c4d3da;
  border-radius: 8px;
}

#input::placeholder {
  color: #c4d3da;
  opacity: 1;
}

/* #input image { */
/*   margin-right: 20px; */
/*   stroke: #c4d3da !important; */
/* } */

#input:focus {
  border: 1px solid #7686c2;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  font-size: 15px;
  font-weight: medium;
  margin-left: 12px;
  color: #c4d3da;
}

#text:selected {
  color: #16161e;
}

#entry {
  margin-top: 0.5em;
  padding: 8px;
  border-radius: 8px;
}

#entry:selected {
  background: #7686c2;
}
