/* # By knightfall01 on Github as a part of https://github.com/Knightfall01/Hyprland-config */

* {
  font-family: 'JetBrainsMono Nerd Font';
  color: #c4d3da;
}

window {
  border: 2px solid #90cdfa;
  overflow: hidden;
  /* background: #1e2030; */
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 1em;
  padding: 1em;
  border: none;
  font-weight: bold;
  background: #1e2030;
  color: #c4d3da;
  border-radius: 8px;
}

#input image {
  margin-right: 10px;
}

#input:focus {
  border: 1px solid #90cdfa;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  font-size: 15px;
  font-weight: medium;
  margin-left: 10px;
  color: #c4d3da;
}

#text:selected {
  color: #16161e;
}

#entry {
  margin-top: 0.5em;
  padding: 8px;
  border-radius: 8px;
}

#entry:selected {
  background: linear-gradient(90deg, #90cdfa 0%, #b69bf1 80%);
}
