# PATH setup

# Add local bin to path
fish_add_path $HOME/.local/bin

# opencode
fish_add_path $HOME/.opencode/bin

# pnpm
set -gx PNPM_HOME "$HOME/.local/share/pnpm"
if not string match -q -- "*$PNPM_HOME*" "$PATH"
    set -gx PATH "$PNPM_HOME" $PATH
end

# fnm
set FNM_PATH "$HOME/.local/share/fnm"
if test -d "$FNM_PATH"
    set PATH "$FNM_PATH" $PATH
end

{{ if eq .chezmoi.os "darwin" -}}
# Macports
fish_add_path --prepend /opt/local/bin /opt/local/sbin

# Cargo
fish_add_path "$HOME/.cargo/bin"

# Bun
set -gx BUN_INSTALL "$HOME/.bun"
fish_add_path $BUN_INSTALL/bin
{{ else -}}
# programs installed with bun 
fish_add_path "/home/nino/.cache/.bun/bin"
{{ end -}}
