include "modules/theme.kdl"
include "modules/monitors.kdl"
include "modules/autostart.kdl"
include "modules/decorations.kdl"
include "modules/layout.kdl"
include "modules/misc.kdl"
include "modules/input.kdl"
include "modules/keybindings.kdl"
include "modules/windowrules.kdl"
include "modules/animations.kdl"
