@define-color bg0 #111418;
@define-color bg1 #191c20;
@define-color bg2 #1d2024;
@define-color bg3 #272a2f;
@define-color bg4 #32353a;
@define-color fg #e1e2e8;
@define-color fg2 #c3c6cf;
@define-color red #ffb4ab;
@define-color orange #d8bde4;
@define-color yellow #a2c9fd;
@define-color green #bbc7db;
@define-color aqua #3c4858;
@define-color blue #a2c9fd;
@define-color purple #533f5f;
@define-color pink #d8bde4;
@define-color lavender #1c4875;
@define-color grey0 #8d9199;
@define-color grey1 #43474e;
@define-color grey2 #43474e;
@define-color primary #a2c9fd;
