"$schema" = 'https://starship.rs/config-schema.json'

# Move the directory to the second line
format = '[ ](bold primary)$all'

palette = 'catppuccin'

scan_timeout = 1000

[character]
success_symbol = "[❯](bold fg)"
error_symbol = "[❯](bold red)"
vimcmd_symbol = "[❮](bold fg)"
vimcmd_visual_symbol = "[❮](bold fg)"
vimcmd_replace_symbol = "[❮](bold fg)"
vimcmd_replace_one_symbol = "[❮](bold fg)"

[cmd_duration]
style = "bold lavender"

[git_branch]
style = "bold purple"
symbol = " "

[git_status]
disabled = true

[directory]
truncation_length = 4
style = "bold fg"
read_only = " 󰌾"

[aws]
symbol = " "

[buf]
symbol = " "

[bun]
style = "bold orange"
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[docker_context]
style = "bold blue"
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
style = "bold green"
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
style = "bold pink"
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
style = "bold yellow"
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
Zorin = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
style = "bold aqua"
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
disabled = true
symbol = " "

[swift]
symbol = " "

[xmake]
symbol = " "

[zig]
symbol = " "

[palettes.catppuccin]
bg0 = "#181825"
bg1 = "#1e1e2e"
bg2 = "#313244"
bg3 = "#45475a"
bg4 = "#585b70"
fg = "#cdd6f4"
fg2 = "#bac2de"
red = "#f38ba8"
orange = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
aqua = "#94e2d5"
blue = "#89b4fa"
purple = "#cba6f7"
pink = "#f5c2e7"
lavender = "#b4befe"
grey0 = "#6c7086"
grey1 = "#7f849c"
grey2 = "#9399b2"
primary = "#89b4fa"

[palettes.rose-pine]
bg0 = "#191724"
bg1 = "#1f1d2e"
bg2 = "#26233a"
bg3 = "#2d2b38"
bg4 = "#6e6a86"
fg = "#e0def4"
fg2 = "#908caa"
red = "#eb6f92"
orange = "#f6c177"
yellow = "#f6c177"
green = "#ABE9B3"
aqua = "#9ccfd8"
blue = "#31748f"
purple = "#c4a7e7"
pink = "#ebbcba"
lavender = "#6aadc8"
grey0 = "#21202e"
grey1 = "#403d52"
grey2 = "#524f67"
primary = "#6aadc8"

[palettes.tokyo-night]
bg0 = "#1a1b26"
bg1 = "#1f2336"
bg2 = "#24283b"
bg3 = "#414868"
bg4 = "#353b45"
fg = "#c8d3f5"
fg2 = "#c8d3f5"
red = "#f7768e"
orange = "#ff9e64"
yellow = "#EBCB8B"
green = "#9ece6a"
aqua = "#73daca"
blue = "#7aa2f7"
purple = "#bb9af7"
pink = "#DE8C92"
lavender = "#80a8fd"
grey0 = "#40486a"
grey1 = "#565f89"
grey2 = "#4f5779"
primary = "#7aa2f7"
