"$schema" = 'https://starship.rs/config-schema.json'

{{- if eq .chezmoi.os "darwin" }}
palette = "catppuccin"
# Move the directory to the second line
format = '''
[ ](bold blue)$directory$git_branch
$character
'''
{{ else if eq .chezmoi.os "linux" }}
palette = "noctalia"
format = '[ ](bold blue)$all'
{{ end }}

scan_timeout = 30

[character]
success_symbol = "[❯](bold text)"
error_symbol = "[❯](bold red)"
vimcmd_symbol = "[❮](bold text)"
vimcmd_visual_symbol = "[❮](bold text)"
vimcmd_replace_symbol = "[❮](bold text)"
vimcmd_replace_one_symbol = "[❮](bold text)"

[cmd_duration]
disabled = true
style = "bold lavender"

[git_branch]
style = "bold purple"
symbol = " "

[git_status]
disabled = true

[directory]
truncation_length = 4
style = "bold text"
read_only = " 󰌾"

[aws]
symbol = " "

[buf]
symbol = " "

[bun]
style = "bold peach"
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[docker_context]
style = "bold blue"
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
style = "bold green"
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
style = "bold pink"
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
style = "bold yellow"
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
Zorin = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
style = "bold teal"
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
disabled = true
symbol = " "

[swift]
symbol = " "

[xmake]
symbol = " "

[zig]
symbol = " "

[palettes.catppuccin]
blue      = "#89b4fa"
red       = "#f38ba8"
green     = "#a6e3a1"
yellow    = "#f9e2af"
cyan      = "#94e2d5"
magenta   = "#f5c2e7"
white     = "#bac2de"
black     = "#45475a"
rosewater = "#f9e2af"
flamingo  = "#f38ba8"
pink      = "#f5c2e7"
mauve     = "#f5c2e7"
maroon    = "#f38ba8"
peach     = "#f9e2af"
teal      = "#94e2d5"
sky       = "#94e2d5"
sapphire  = "#89b4fa"
lavender  = "#f5c2e7"
text      = "#cdd6f4"
subtext1  = "#bac2de"
subtext0  = "#585b70"
overlay2  = "#585b70"
overlay1  = "#585b70"
overlay0  = "#45475a"
surface2  = "#45475a"
surface1  = "#45475a"
surface0  = "#1e1e2e"
base      = "#1e1e2e"
mantle    = "#1e1e2e"
crust     = "#1e1e2e"

# >>> NOCTALIA STARSHIP PALETTE >>>
# Noctalia Starship Palette
# Generated by Noctalia - do not edit manually

[palettes.noctalia]
# Standard colors
blue      = "#89b4fa"
red       = "#f38ba8"
green     = "#a6e3a1"
yellow    = "#f9e2af"
cyan      = "#94e2d5"
magenta   = "#f5c2e7"
white     = "#bac2de"
black     = "#45475a"

# Extended palette (Catppuccin-compatible names)
rosewater = "#f9e2af"
flamingo  = "#f38ba8"
pink      = "#f5c2e7"
mauve     = "#f5c2e7"
maroon    = "#f38ba8"
peach     = "#f9e2af"
teal      = "#94e2d5"
sky       = "#94e2d5"
sapphire  = "#89b4fa"
lavender  = "#f5c2e7"

# Text shades
text      = "#cdd6f4"
subtext1  = "#bac2de"
subtext0  = "#585b70"

# Surface shades
overlay2  = "#585b70"
overlay1  = "#585b70"
overlay0  = "#45475a"
surface2  = "#45475a"
surface1  = "#45475a"
surface0  = "#1e1e2e"
base      = "#1e1e2e"
mantle    = "#1e1e2e"
crust     = "#1e1e2e"
# <<< NOCTALIA STARSHIP PALETTE <<<
