# System & shell utilities

{{ if eq .chezmoi.os "darwin" }}
alias i="brew install"
{{ else }}
alias i="paru -S"
{{ end }}

abbr -a oc opencode
abbr -a chz chezmoi
abbr -a rmr "rm -r"
abbr -a rfc "source ~/.config/fish/config.fish"
abbr -a tml "tmuxp load"

# Paru 

abbr -a pr paru
# List explicitly installed packages
abbr -a pl "paru -Qe"
# Search packages
abbr -a ps "paru -Ss"

# Opencode

abbr -a occ "opencode --continue"

alias restart="exec $SHELL"
alias rand="openssl rand -base64 32 | tr -d '/+='"
alias icat="kitten icat"
# Show images in a grid in terminal
abbr -a lsimg "timg --grid=3x2 --title *.{jpg,JPG,png,jpeg,webp}"

# Cheatsheets
alias helptmux="feh ~/Pictures/cheatsheets/tmux.png"
